@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 263 60% 10%;

    --card: 0 0% 100%;
    --card-foreground: 263 60% 10%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 263 60% 10%;
 
    --primary: 263 70% 55%;
    --primary-foreground: 263 10% 100%;
 
    --secondary: 210 70% 55%;
    --secondary-foreground: 210 10% 100%;
 
    --muted: 263 10% 96%;
    --muted-foreground: 263 20% 40%;
 
    --accent: 263 10% 96%;
    --accent-foreground: 263 60% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 263 20% 90%;
    --input: 263 20% 90%;
    --ring: 263 70% 55%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 263 60% 10%;
    --foreground: 263 10% 98%;
 
    --card: 263 60% 10%;
    --card-foreground: 263 10% 98%;
 
    --popover: 263 60% 10%;
    --popover-foreground: 263 10% 98%;
 
    --primary: 263 70% 55%;
    --primary-foreground: 263 10% 98%;
 
    --secondary: 210 70% 55%;
    --secondary-foreground: 210 10% 98%;
 
    --muted: 263 50% 20%;
    --muted-foreground: 263 10% 60%;
 
    --accent: 263 50% 20%;
    --accent-foreground: 263 10% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 263 10% 98%;
 
    --border: 263 50% 20%;
    --input: 263 50% 20%;
    --ring: 263 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
